/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 10 */

.header {}

.container {
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
}
.sidebar {
	float: left;
	width: 33.3333%;
	height: 300px;
}

.main-content {
	float: left;
	width: 66.6666%;
	height: 300px;
}

.sub-content {}

.footer {}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */